<%- include header %>
<div class="util">
  <ul class="archive">
  <% var lastYear = 0 %>
  <% posts.forEach(function (post, index) { %>
    <% if (lastYear != post.time.year) { %>
      <!-- <li><h3><%= post.time.year %></h3></li> -->
      <li>
        <div class="post_date util-text">
          <%= post.time.year %>
        </div>
      </li>
    <% lastYear=post.time.year } %>
    <li><time><%= post.time.day %></time></li>
    <li><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></li>
  <% }) %>
  </ul>
</div>
<%- include footer %>
