<%- include header %>
<article style="border:none;">
  <div class="post_date">
    <span class="date_d"><%= post.time.onlyDay %></span>
    <span class="date_ym"><%= post.time.month %></span>
  </div>
  <h2 class="blog-title">
    [<a href="/u/<%= post.name %>"><%= post.name %></a>]
    <%= post.title %>
  </h2>
  <p>
    <% if (user && (user.name == post.name)) { %>
      <span><a class="edit" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a></span>
      <span><a class="edit" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a></span>
    <% } %>
    <% var flag = 1 %>
    <% if (user && (user.name != post.name)) { %>
      <% if ((post.reprint_info.reprint_from != undefined) && (user.name == post.reprint_info.reprint_from.name)) { %>
        <% flag = 0 %>
      <% } %>
      <% if ((post.reprint_info.reprint_to != undefined)) { %>
        <% post.reprint_info.reprint_to.forEach(function (reprint_to, index) { %>
          <% if (user.name == reprint_to.name) { %>
            <% flag = 0 %>
          <% } %>
        <% }) %>
      <% } %>
    <% } else { %>
      <% flag = 0 %>
    <% } %>
    <% if (flag) { %>
      <span><a class="edit" href="/reprint/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">转载</a></span>
    <% } %>
  </p>
  <div class="infotop">
    <span class="info-category-icon">
      <% post.tags.forEach(function (tag, index) { %>
        <% if (tag) { %>
          <a href="/tags/<%= tag %>" class="tag"><%= tag%></a>
        <% } %>
      <% }) %>
    </span>
    <span class="info-view-icon">
      阅读: <%= post.pv %>
    </span>
    <span class="info-comment-icon">
      评论: <%= post.comments.length %>
    </span>
    <span class="info-reprint-icon">
      转载:
      <% if (post.reprint_info.reprint_to) { %>
        <%= post.reprint_info.reprint_to.length %>
      <% } else { %>
        <%= 0 %>
      <% } %>
    </span>
    <% if (post.reprint_info.reprint_from) { %>
      <br><a href="/u/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.day %>/<%= post.reprint_info.reprint_from.title %>">原文链接</a>
    <% } %>
  </div>
  <%- post.post %>
</article>
<article style="border:none;">
  <div class="section-title">
    <span>为您推荐</span>
  </div>
</article>
<div class="recommend">
  <ul>
    <li><a href="#">数据结构</a></li>
    <li><a href="#">算法</a></li>
    <li><a href="#">javasc权威指南</a></li>
    <li><a href="#">html5</a></li>
    <li><a href="#">css3</a></li>
    <li><a href="#">node.js</a></li>
    <li><a href="#">node-webkit</a></li>
  </ul>
</div>
<article style="border:none;">
  <div class="section-title">
    <span>评论更精彩</span>
  </div>
</article>
<%- include comment %>
<%- include footer %>