<div class="comment">
  <div class="comment-content" style="padding-left: 50px;text-indent: 10px;">
    <% post.comments.forEach(function (comment, index) { %>
      <p><img src="<%= comment.head %>" class="l_head" /><a href="<%= comment.website %>"><%= comment.name %></a>
      <span class="info"> 回复于 <%= comment.time %></span></p>
      <p><%- comment.content %></p>
    <% }) %>
  </div>

  <form method="post">
  <% if (user) { %>
    姓名：<input type="text" name="name" value="<%= user.name %>" /><br />
    邮箱：<input type="text" name="email" value="<%= user.email %>" /><br />
    网址：<input type="text" name="website" value="/u/<%= user.name %>" /><br />
  <% } else { %>
    姓名：<input type="text" name="name" /><br />
    邮箱：<input type="text" name="email" /><br />
    网址：<input type="text" name="website" value="http://" /><br />
  <% } %>
    <textarea name="content" rows="5" cols="80" id="cmt-content"></textarea><br />
    <input type="submit" value="留言" class="button glow button-rounded button-flat-action" id="sub-commit"/>
  </form>
</div>
