<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/pop-box.css">
  <link rel="stylesheet" href="/stylesheets/googlecode.css">
  <% if (title == '文件上传') { %>
    <link rel="stylesheet" href="/stylesheets/uploadify.css">
  <% } %>
  <link rel="stylesheet" href="/stylesheets/buttons.css">
  <link rel="stylesheet" href="/stylesheets/font-icon.css">
  <link rel="stylesheet" href="/stylesheets/form.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/jquery-1.11.0.min.js"></script>
  <script src="/javascripts/popBox.js"></script>
  <script src="/javascripts/highlight.pack.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</head>
<body>
  <div id="container">
    <header>
      <br>
      <% if (user) { %>
        <h1><%= user.name %></h1>
        <%= user.description%>
      <% } else { %>
        <h1>匆匆那年</h1>有些人错过了,永远无法再回到从前;有些人即使遇到了,永远都无法在一起,这些都是一种刻骨铭心的痛.
      <% } %>
    </header>
    <nav>
      <ul>
        <li><a href="/">首页</a></li>
        <li><a href="#">书香</a></li>
        <li><a href="#">相册</a></li>
        <li><a href="/cloud" target="_blank">窗外</a></li>
        <li><a href="#">时间轴</a></li>
        <li class="sub-menu">
          <a href="#">我的兴趣<span></span></a>
          <ul>
            <li><a href="#">听音乐</a></li>
            <li><a href="#">play basketball</a></li>
            <li><a href="#">独自发呆</a></li>
            <li><a href="#">数据结构</a></li>
          </ul>
        </li>
        <li class="sub-menu">
          <a href="#">更多<span></span></a>
          <ul>
            <li><a href="#">意见反馈</a></li>
          </ul>
        </li>
        <li><a href="#">关于</a></li>
      </ul>
      <div class="search-site">
        <form action="/search" method="get">
          <input type="submit" value="" id="searchsubmit" class="button">
          <input type="text" name="keyword" id="s">
        </form>
      </div>
    </nav>
    <div id="map">
      <div class="position">
        当前位置:
        <% if (title != '主页') { %>
          <a href="/">首页</a> &gt; <%= title %>
        <% } else { %>
          <%= title %>
        <% } %>
      </div>
    </div>
    <div class="main">


      <% if (success) { %>
        <div><%= success %></div>
      <% } %>
      <% if (error) { %>
        <div><%= error %></div>
      <% } %>
